DEBUG=True
SECRET_KEY=foo
ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=twitter_clone_api_dev_db
SQL_USER=twitter_clone_api_dev
SQL_PASSWORD=twitter_clone_api_dev
SQL_HOST=db
SQL_PORT=5432
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000